@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,600|Baloo+Tamma+2:500|Anaheim:400");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/642c6ca3f971f8ef7250b5cc.642c6ca41367bf9438d66761.UuzOayd.hcp.png");

@font-face {
  font-family: "Goudy Old Style-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/DomaineDispNar-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Domaine Display-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/DomaineDisplay-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Futura BQ-MediumCondensed";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Futura Bold font.ttf") format("truetype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.auto-animated div {
  --z-index: -1;
  opacity: 0;
  position: absolute;
}

.auto-animated input {
  --z-index: -1;
  opacity: 0;
  position: absolute;
}

.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
  opacity: 1;
}

input:focus {
  outline: none;
}

.listeners-active,
.listeners-active * {
  pointer-events: auto;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.listeners-active-click,
.listeners-active-click * {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
